#Theory Questions

**1.**What are data structures, and why are they important?
     
  - Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.

     for examples:-

     i)List/Array

     ii)Stack/Queue

     iii)Set

     iv)Dictionary
     
     v)Graph

   **Why are data structure important?**

     i)Efficiency:The right data structure can drastically improve performance (speed and memory usage).

     ii)Organization: Helps manage and organize data logically.

     iii)Scalability: Supports large-scale systems by enabling optimized data operations.

     iv)Problem-solving: Essential for algorithm design and implementation.

**2.** Explain the difference between mutable and immutable data types with examples.
   
   - Mutable and Immutable data types refer to whether or not the values of an object can be changed after the object is created.

  **Mutable Data Types:-**

  Definition: Object that can be changed after creation.

  **Examples**

  i)list

  ii)dict

  iii)set

  **Immutable Data Types:-**

  Definition:Objects that cannot be changed after creation.

  **Examples**

  i)int

  ii)float

  iii)str

  iv)tuple

  v)frozenset

**3.** What are the main differences between lists and tuples in Python?

  -  The main difference between lists and tuples in python is mutability, syntax and performance, like lists are mutable whereas tuples are immutable.

 **Lists**

 i)Mutable: We can modify its content like add, remove, or change items.

 ii)Syntax: Lists uses square brackets[]

 iii)Lists are less faster than Tuples for Iteration and fixed-size collections.

 iv)Use case: Uses when you need a dynamic collection (can grow or change).

 **Tuples**

 i)Immutable: Once created, its contents cannot be changed.

 ii)Syntax: Tuples uses Parentheses()

 iii)Tuples are generally faster than lists for iteration and fixed-size collections.

 iv)Use case: Use when the collection should be fixed and not modified, or to represent records (like rows in a database).

**4.**Describe how dictionaries store data.

   - In Python, dictionaries store data as key-value pairs using a data structure called a hash table. This allows for very fast lookups, insertions, and deletions.

 **How Dictionaries Store and Access Data**

 i)Hashing the Key: The hash is an integer that determines where to store the value in memory.

 ii)Finding a Slot: The hash is mapped to a specific index (slot) in an internal array. This slot stores the key-value pair.

 iii)Handling Collisions: Sometimes different keys may hash to the same index (a collision). Python handles this using open addressing (probing for the next free slot).

 iv)Retrieving Data: When you look up a key (e.g., my_dict["age"]), Python hashes the key again and finds the corresponding value in the array.

**5.**Why might you use a set instead of a list in Python?
  
   -  We might use set instead of a list in Python when we need to store unique elements and perform fast testing.

 **Major reasons to use set over a list:**

 i)Uniqueness: Set automatically removes duplicates, whereas in list we have to manually remove the duplicates.

 ii)when we care only about membership, not order or indexing.

 iii)When we need to eliminates duplicates.

 iv)You want fast comparisons and set operations (like union, intersection, etc.).

**6.**What is a string in Python, and how is it different from a list?

  - In Python, a string is a sequence of characters enclosed in quotes (' or "). It is an immutable data type, meaning once created, its contents cannot be changed.

 **Difference between a String and a List**

 String:-

 i)Data Type: Sequence of characters

 ii)Mutability: Immutable

 iii)Element Types: Only characters (e.g. 'a', '1')

 iv)Modification:	Not allowed

 v)Syntax:	"abc" or 'abc'

 List:-

 i)Data Type: Sequence of any objects

 ii)Mutability: Mutable

 iii)Element Types: Any data types (e.g. 1, 'a', True)

 iv)Modification:	Allowed

 v)Syntax: [1, 2, 3]

**7.**How do tuples ensure data integrity in Python?

  - **How Tuples Ensure Data Integrity:**

 i)Immutability: Once a tuple is created, its elements cannot be changed, added, or removed. This prevents bugs due to unintended modifications.

 ii)Safe for Use as Keys: Because tuples are immutable and hashable, they can be used as dictionary keys or elements in a set — only immutable data types are allowed in these contexts.

 iii)Reliable as Fixed Records: Tuples are often used to represent records or data rows where the position and value should not change (e.g., from a database or API).

 iv)Thread-Safe by Design:Because their contents can't change, tuples are inherently safe to share between threads without needing locks, reducing the chance of race conditions.

**8.**What is a hash table, and how does it relate to dictionaries in Python?

   - A hash table is a data structure that stores key-value pairs and provides fast access to values based on keys using a process called hashing. In Python, the underlying implementation of a dict (dictionary) is a hash table.

  **How a Hash Table Works**

  i)Hashing the Key: When you add a key-value pair to a dictionary, Python uses the built-in hash() function to compute a hash (an integer) from the key.

  ii)Index Calculation: That hash is used to determine an index in an internal array (the "bucket array").

  iii)Storing the Pair: The key and value are stored in the calculated slot.

  iv)Retrieving a Value: Hashes the key again.

  Locates the index.

 Retrieves the value from that slot.

**9.** Can lists contain different data types in Python?

   - Yes, lists in Python can contain different data types.
   
   Python lists are heterogeneous, meaning they can hold a mix of types within the same list — including integers, floats, strings, other lists, dictionaries, objects, etc.

In [ ]:
l = [1, 2, True, "John", 3.2, {"key": "value"}]

In [ ]:
print(l)

[1, 2, True, 'John', 3.2, {'key': 'value'}]

**10.** Explain why strings are immutable in Python.

   - Strings are immutable in Python because once a string object is created, its contents cannot be changed. This design choice is intentional and provides several important benefits.

   It promotes Data Integrity and safety as it is immutable.

**11.**What advantages do dictionaries offer over lists for certain tasks?

   - Dictionaries offer several advantages over lists for certain tasks, especially when working with data that involves key-value pairs.

  **Some major Advantages are:-**

  i)Fast lookups

  ii)Key_Based Access

  iii)No need for indexing

  iv)Data organization

  v)Avoiding Duplicates

**12.**Describe a scenario where using a tuple would be preferable over a list.

   - A tuple is preferable over a list in scenarios where immutability is required—i.e., when you want to ensure that the data cannot be changed after creation.

 **Some Scenario:**

 i)Immutability:
The latitude and longitude of a location shouldn't change accidentally during program execution. Tuples prevent modification, which protects data integrity.

 ii)Hashability:
Tuples can be used as dictionary keys or elements in a set (because they are hashable if they contain only immutable types). Lists cannot.

 ii)Performance:
Tuples are slightly more memory-efficient and faster to access than lists, which can be beneficial in large-scale applications.

**13.** How do sets handle duplicate values in Python?

  - In Python, sets automatically remove duplicate values. When you add elements to a set, any duplicates are ignored, and only unique elements are stored.

In [1]:
#Example
a = {1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4}
print(a)

{1, 2, 3, 4}

**14.**How does the “in” keyword work differently for lists and dictionaries?

  - The in keyword behaves differently for lists and dictionaries in Python, based on what it checks for:

  In a list: Checks for Values

In [11]:
cart = ["apple", "banana", "kiwi"]
"guava" in cart

False

In [12]:
"apple" in cart

True

   In a Dictionary: Checks for Keys

In [14]:
data = {"name": "John", "age": 25}
"name" in data

True

In [15]:
"John" in data

False

**15.**Can you modify the elements of a tuple? Explain why or why not.

  - No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable. Once a tuple is created, its contents (the elements it holds) cannot be changed, added to, or removed.

In [16]:
t = (1, 2, 3)

In [17]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

**16.**What is a nested dictionary, and give an example of its use case?

  - A nested dictionary is a dictionary where one or more values are themselves dictionaries. This structure allows you to represent more complex, hierarchical data in an organized and readable way.

**17.**Describe the time complexity of accessing elements in a dictionary.

  - The time complexity of accessing elements in a Python dictionary is generally:

 Average Case: O(1) – Constant Time

 i)Python dictionaries are implemented using hash tables.

 ii)When you access a value with a key (my_dict[key]), Python computes the key's hash and uses it to directly locate the value.

 iii)This makes lookups extremely fast, regardless of the dictionary's size (on average).

 Worst Case: O(n) – Linear Time

 i)In rare situations (like many hash collisions), access can degrade to O(n).

 ii)Python handles collisions internally with techniques like open addressing, so this is uncommon.

 iii)Performance can also degrade if the keys used are poorly hashable (e.g., custom objects without proper __hash__ implementations).

**18.** In what situations are lists preferred over dictionaries?

  - Lists are preferred over dictionaries in situations where order, sequence, or positional access is important, and there's no need for key-based associations. Here are some specific use cases where lists shine:

  i)Maintaining Order and indexing

  ii)Simple Collections of Items

  iii)Iteration in Order

  iv)Dynamic and Homogeneous Data

  v)When Order or Duplicates Matter

**19.**Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Dictionaries in Python were traditionally considered unordered because, before Python 3.7, they did not guarantee the order of items when iterating through them. The internal structure (a hash table) is designed for fast key-based access, not order.

**20.** Explain the difference between a list and a dictionary in terms of data retrieval.

  - The main difference between a list and a dictionary in terms of data retrieval lies in how you access elements and what kind of data structure they represent:

  i)List: Index-Based Retrieval

  Lists are ordered sequences of items.

  Elements are accessed using integer indices (starting at 0).

   Retrieval is position-based

  ii)Dictionary: Key-Based Retrieval

  Dictionaries store data as key-value pairs.

  Elements are accessed using unique keys, not positions.

  Retrieval is key-based and does not rely on order.

#Practical Questions

**1.** Write a code to create a string with your name and print it.

In [ ]:
name = "Anish Nihal"
print(name)

Anish Nihal

In [ ]:
type(name)

str

**2.** Write a code to find the length of the string "Hello World".

In [ ]:
a = "Hello World"
len(a)

11

**3.** Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
a = "Python Programming"

In [ ]:
a[0:3]

'Pyt'

**4.**Write a code to convert the string "hello" to uppercase.

In [ ]:
a = "hello"

In [ ]:
a.upper()

'HELLO'

**5.**Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple"

In [ ]:
a.replace("apple", "orange")

'I like orange'

**6.**Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
type(l)

list

**7.**Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l = [1,2,3,4]

In [ ]:
l.append(10)

In [ ]:
l

[1, 2, 3, 4, 10]

**8.** Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l.remove(3)

In [ ]:
l

[1, 2, 4, 5]

**9.**Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l = ['a', 'b', 'c', 'd']
l[1]

'b'

**10.** Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
l = [10, 20, 30, 40, 50]

In [ ]:
l[::-1]

[50, 40, 30, 20, 10]

**11.** Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
type(t)

tuple

**12.** Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t = ('red', 'green', 'blue', 'yellow')

In [ ]:
t[1:4]

('green', 'blue', 'yellow')

**13.**Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t = (10, 20, 5, 15)

In [ ]:
min(t)

5

**14.**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t = ('dog', 'cat', 'rabbit')

In [ ]:
t.index('cat')

1

**15.** Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t = ("orange", "apple", "kiwi")

In [ ]:
"kiwi" in t

True

**16.** Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {'a', 'b', 'c'}

In [ ]:
print(s)

{'b', 'a', 'c'}

In [ ]:
type(s)

set

**17.**Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}

In [ ]:
s.clear()

In [ ]:
s

set()

**18.**Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}

In [ ]:
s.remove(4)

In [ ]:
s

{1, 2, 3}

**19.**Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1 = {1, 2, 3}

In [ ]:
s2 = {3, 4, 5}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5}

**20.**Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1 = {1, 2, 3}

In [ ]:
s2 = {3, 4, 5}

In [ ]:
s1 & s2

{3}

**21.**Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d = {"name": "Anish", "age": 22, "city": "Bhilai"}

In [ ]:
print(d)

{'name': 'Anish', 'age': 22, 'city': 'Bhilai'}

In [ ]:
type(d)

dict

**22.**Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d = {'name': 'John', 'age': 25}
d

{'name': 'John', 'age': 25}

In [ ]:
d["country"] = "USA"

In [ ]:
d

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.**Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d = {'name': 'Alice', 'age': 30}

In [ ]:
d["name"]

'Alice'

**24.** Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
del d["age"]

In [ ]:
d

{'name': 'Bob', 'city': 'New York'}

**25.**Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}

if 'city' in d:
  print("The key 'city' exists in the dictionary")

else:
  print("The key 'city' does not exists in the dictionary")

The key 'city' exists in the dictionary

**26.**Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
l = [1, 2, 3, 4, 5]
type(l)

list

In [ ]:
t = (1, 2, 3, 4, 5)
type(t)

tuple

In [ ]:
d = {"name": "john", "age": 25}
type(d)

dict

In [ ]:
print(l)
print(t)
print(d)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'john', 'age': 25}

**27.**Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
l = [1, 19, 10, 15, 28]

In [ ]:
print(l)

[1, 19, 10, 15, 28]

In [ ]:
l.sort()

In [ ]:
l

[1, 10, 15, 19, 28]

**28.**Write a code to create a list with strings and print the element at the third index.

In [ ]:
l = ["Apple", "Orange", "Guava", "Pineapple", "Kiwi"]

In [ ]:
l[2]

'Guava'

**29.** Write a code to combine two dictionaries into one and print the result.

In [ ]:
d1 = {"name": "john"}

In [ ]:
d2 = {"age": 25}

In [ ]:
d3 = {**d1, **d2}

In [ ]:
print(d3)

{'name': 'john', 'age': 25}

**30.**Write a code to convert a list of strings into a set.

In [ ]:
l = ["Apple", "Orange", "Guava", "Pineapple", "Kiwi"]

In [ ]:
s = set(l)

In [ ]:
print(s)

{'Kiwi', 'Orange', 'Pineapple', 'Apple', 'Guava'}